*{
    margin:0;
 padding: 0;
}

@font-face { font-family: tropika; src: url('tropika-island-int.otf');}  

a {
    color:#864f18;
    text-decoration:none;
    transition: 0.3s;
}

a:hover{
    opacity:0.7;
}

.logo{
    margin-top: 7px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family:'tropika';
    background: #f9b025;
    height: 15vh;
    font-size: 1.5rem;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #864f18;
    margin:8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background:#f9b025;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transfqorm 0.3s ease-in;
    }
    .nav-list li{
        margin-left:0;
        opacity:0;
    }
    .mobile-menu{
        display:block;
    }
    .nav-list.active{
        transform: translateX(0);
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity:0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform:translateX(50px);
        }
        to{
            opacity: 1;
            transform:translateX(0);
        }
    }

}

body {
    background-color: #F8F7F3;
}

main {
    background-color: #FBCC70;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    border-radius: 10px;
}

main img {
    width: 100%;
}

main img.imagempalha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    align-items: center;
    height: 650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.quadrado{
    display:flex;
    flex-direction: row;
    height:568px;
    background-color: #f9b025;
    justify-content:right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items:center;
    
}


.text-box{
    width: 500px;
    height: 350px;
    align-items:center;
    margin-top: 00px;
    margin-right: 150px;
    margin-left: 100px;
    font-family: tropika;    
}

.text-box h1{
    color:#7B4518;
    font-family: tropika;
       
}

.text-box p{
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1px;
}

.imagem1{
    width:488px;
    height:569px;
    margin-top: 5px;
}

.imagem1{
    width:488px;
    height:569px;
    margin-top: 5px;
}

.two-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Fone{
    idth:1095px;
    height:569px;
}

.Sone{
    idth:1095px;
    height:569px;
}

.Fbotão a{
    opacity: 1;
}

.botão{
    width: 200px;
    height: 55px;
    margin-top:30px;
    margin-left: 500px;
    background-color: #f9b025;
    border-color: #7B4518;
    font-family: tropika;
    color: #7B4518;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover{
    background-color: #7B4518;
    color: #f9b025;
    border-color:#f9b025;
    opacity:unset;
}

footer{
    background-color:#F7B100;
    color: white;
    padding: 20px 0;
    font-family:'segoe Ui ' sans-serif;
    text-align: center;
    font-size: 16px;
    color: #7B4518;
}


